

.container {
    background-color: whitesmoke;
    justify-content: center;
    border: 2px solid hsl(4, 0%, 82%);
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 150px 400px 400px 400px;
    grid-template-areas:
    "a b c"
    "d d l"
    "e e ."
    ". . .";
}

.item {
    display: table-row;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 30px;
    padding 20px;
    font-family: "Roboto Light";
    border-radius: 15px;
}

#logo {
    grid-area: l;
}

#rood {
    grid-area: a;
    background-color: darkred;
}
#blauw {
    grid-area: b;
    background-color: darkblue;
}
#groen {
    grid-area: c;
    background-color: darkgreen;
}

#geel {
    grid-area: d;
    background-color: darkkhaki;
    text-align: left;

}

#paars {
    grid-area: e;
    background-color: rebeccapurple;
    text-align: left;

}



@media screen and (max-width: 820px) {
    .container {
        background-color: whitesmoke;
        justify-content: center;
        border: 2px solid hsl(4, 0%, 82%);
        border-radius: 15px;
        padding: 15px;
        width: 100%;
        display: grid;
        row-gap: 20px;
        column-gap: 20px;
        fontsize: 12px;
        grid-template-columns: 400px;
        grid-template-rows: 200px 200px 200px 200px 200px 700px 1fr;
        grid-template-areas:
    "l"
    "a"
    "b"
    "c"
    "d"
    "e"
    "."
    "."
    "."
    "."
}